.ViewOrdersWrapper {
  margin-top: 100px;
}

.viewOrderCard {
  margin: 20px;
  border: none;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  text-align: left;
}

.viewOrderCard h2 {
  color: var(--primary_color);
  font-size: 22px;
}

.viewOrderCard h3 {
  font-weight: 600;
  color: grey;
}
.viewOrderCard h3 span {
  font-weight: 700;
  color: black;
}

/*OVERLAY Styles */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  z-index: 200;
}
.header-relative {
  display: none;
}
.overlay_visible {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  overflow-y: auto;
  z-index: 200;
  visibility: visible;
  opacity: 1;
}

.overLayCardWrapper {
  width: 90%;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  transition: all 1s;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-top: 30px;
}

.inputOverLayWrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 20px;
}

.inputOverLayWrapperForMedicine {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.inputOverLayWrapper p {
  font-size: 18px;
  font-weight: 600;
}

.inputOverLayWrapper input {
  outline: none;
  border: 1px solid var(--primary_color);
  padding: 5px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.inputOverLayWrapperForMedicine p {
  font-size: 18px;
  font-weight: 600;
}

.inputOverLayWrapperForMedicine input {
  width: 70%;
  outline: none;
  border: 1px solid var(--primary_color);
  padding: 5px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.selectOptionsWrapper {
  outline: none;
  border: 1px solid var(--primary_color);
  padding: 5px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.inventoryBtnWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inventoryBtnWrapper button {
  padding: 3px 15px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary_color);
  color: white;
  margin-right: 10px;
}

.deleteBtn {
  padding: 0 8px;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary_color);
  color: white;
}

.finalPriceWrapper {
  margin-top: 20px;
}

.inputDivWrapper {
  margin-top: 20px;
}

.viewOrderText {
  font-size: 26px;
}

/* OVERLAY ENDS HERE */

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}

.closeIconWrapper {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 0;
}

.closeIconWrapper i {
  font-size: 30px;
  color: var(--primary_color);
}

.selectMessage {
  font-size: 14px;
  color: var(--primary_color);
}

@media (min-width: 480px) {
  .newViewOrdersWrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .viewOrderCard {
    width: 43%;
  }

  .overLayCardWrapper {
    width: 50%;
    padding: 15px 30px;
  }
  .inputOverLayWrapper input {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 770px) {
  .newViewOrdersWrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .viewOrderCard {
    width: 43%;
  }
  .overLayCardWrapper {
    width: 50%;
    padding: 15px 30px;
  }
  .inputOverLayWrapper input {
    width: 70%;
    margin: 0 auto;
  }

  .inputOverLayWrapperForMedicine {
    justify-content: center;
    margin-top: 10px;
  }
  .orderTableWrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .orderTableWrapper table {
    width: 90%;
    margin: 0 auto;
  }
}
